
body {
    font-family: "Meiryo UI", "Arial", "Helvetica", "sans-serif";
    font-size: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #fff;
}

#page {
    background-color: #FFFFFF;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

#dimensions {
    font-family: "Arial", "Helvetica", "sans-serif";
}

div.content {
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #aaa;
    height : 99%;
    width : 99%;
}

div.content-body {
    margin-left: 10px;
} 




input {
        font-size: 12px;
}




.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.hidden{
    display:none;
}


.delete_row{
    background-color: #222;
}

div.content-header h2 {
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: medium solid #4b0082;
	background-image:url(../images/heroku.png);	/*背景画像*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
    background-position: left 5px bottom 2px;
    padding: 0px;
    color: #5f5f5f;
    font-size: 8px;
    font-weight: normal;
    margin:0 0 0 auto;
    opacity:0.6;
}

div.content-header p {
    color: #555;
    font-size: 8px;
    font-weight: normal;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}


div.content-body h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    background-color: #8060A5;
    margin: 2px;
    padding: 2px;
}



table.oppBrListTable{
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
} 


table.oppBrListTable tr{
    background-color: #ffffff;
}

table.oppBrListTable tr:ntn-child(odd){
    background-color: #bfd7f5;
}

table.oppBrListTable th{
    font-size: 12px;
    font-weight: normal;
    background-color: rgb(201, 154, 255);
    padding: 5px;
    border-bottom: 1px solid #222;
}

table.oppBrListTable td{
    font-size: 12px;
    padding: 5px;
    border-bottom: 1px solid #777;
}

.table_btn {
  margin-left:2px;
  margin-bottom:2px;
}
 
div.content-navi {
    margin: 10px;
    float: right;
}

div.content-navi ul {
  list-style-type: none; /*箇条書きのポッチを消す*/
  text-align: center; /*左右中央寄せは親要素に対して指定*/
}

/* ↓id="nav"の中のulの中のliに対してCSSを適用*/
div.content-navi ul li { 
  display: inline-block;/*inline-blockにします*/
  width: 80px;/*幅も指定できる*/
  padding: 5px 0;/*余白も指定できる*/
  margin: 10px 0;/*余白も指定できる*/
  vertical-align: middle;/*縦の表示位置も指定できる*/
 }

.navbtn {
  float: right;
}

li a{
    text-decoration: none;
}

li a:hover {
    opacity:0.5;
}
li.btnOK {
    background-color:#8060A5;
    text-decoration:none;
    text-align:center;
    border-radius:5px;
    box-shadow:1px 1px 1px #777;
}

a.linkOK{
     color:#ffffff;
     font-size: 12px;
     font-weight: bold;
}

li.btnCancel {
    border-color:#8060A5;
    border-style: solid;
    border-width: 1px;
    background-color:#ffffff;
    text-decoration:none;
    text-align:center;
    border-radius:5px;
    box-shadow:1px 1px 1px #777;
}

a.linkCancel{
	color:#7058a3;
    font-size: 12px;
    font-weight: bold;
}


div.content-footer {
    clear: both;
    height: 25px;
    font-size: 10px;
    color: #ffffff;
    background-color: #555;
    padding:1px;
}

div.footerleft {
    float: left;
    margin-left:5px;
}

div.footerright {
    float: right;
    margin-right:5px;
}